<% include header %>
<% include navbar %>

<div class="container">

  <div class="starter-template">
    <h1>Get data in a few clicks</h1>

    <p class="lead">On this website, we have an example of a list of  15 sales leads records. There are 5 records per page
    with a total of 3 pages. </p>

    <p class="lead">To get all the sales leads like this from any website, you will normally have
    to spend hours in front of your computer going through each and every page doing boring and painful copy and paste.</p>

    <p class="lead">Here, we will show you how to easily get the data you want in just a few clicks using our chrome extension.</p>

    <p class="lead">At the end of this tutorial you will hopefully have obtained a list of the contact details of all the 
    wizards in the Hogswart Castle Magic Academy and saved hours of painful copy and paste.</p>

    <h3>Getting started</h3>
    <p class="lead">When you want to get data from any web page you will first need to activate your extension by clicking the 
    activation button on the top right hand corner of your chrome browser extension.</p>

    <p class="lead">The current tutorial popover should show where the activation button is located.</p>


    <h3>Adding elements</h3>
    <p class="lead">Mousing over any selectable elements on a webpage will cause it to get highlighted</p>

    <p class="lead">Clicking on an highlighted element will cause it to be included in the current data attribute</p>

    <p class="lead">Each time you add a new highlighted element, the extension will try to intelligently guess if the element
      belongs to the current data attribute or if it should be added to a new data attribute. </p>

    <p class="lead">Now you know what is going on, let's get started on the list of wizards below. </p>


    <% include list_page_1 %>

  </div>

</div><!-- /.container -->

<% include footer %>