<% include header %>
<% include navbar %>

<div class="container">
  <h1 class="sales-leads pull-left">Wizards in Hogwarts Castle</h1>

  <div class="pagination pull-right">
    <div class="btn-group">
      <a class="btn btn-default current-page disabled"  href="/page-3" >Page 3</a>    
      <a class="btn btn-success prev-page"              href="/page-2" >Previous Page</a>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Profile Picture</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>        
      <th>Email address</th>
      <th>Phone number</th>
    </tr>
    <tr>
      <td class="profile-col"><img class="profile-img" src="/img/cho.chang.jpg"></td>
      <td class="first-name-col">Cho</td>
      <td class="last-name-col">Chang</td>    
      <td class="job-col">student</td>
      <td class="email-col">cho.chang@hogwarts.magic.edu</td>
      <td class="phone-col">+(777) 0011</td>
    </tr>
    <tr>
      <td class="profile-col"><img class="profile-img" src="/img/sirius.black.jpg"></td>
      <td class="first-name-col">Sirius</td>
      <td class="last-name-col">Black</td>
      <td class="job-col">Renegade wizard</td>
      <td class="email-col">sirius.black@hogwarts.magic.edu</td>
      <td class="phone-col">+(777) 0012</td>
    </tr>
    <tr>
      <td class="profile-col"><img class="profile-img" src="/img/nymphadora.tonks.jpg"></td>
      <td class="first-name-col">Nymphadora</td>
      <td class="last-name-col">Tonks</td>
      <td class="job-col">Professor</td>
      <td class="email-col">nymphadora.tonks@hogwarts.magic.edu</td>
      <td class="phone-col">+(777) 0013</td>
    </tr>
    <tr>
      <td class="profile-col"><img class="profile-img" src="/img/fred.weasley.jpg"></td>
      <td class="first-name-col">Fred</td>
      <td class="last-name-col">Weasley</td>
      <td class="job-col">student</td>
      <td class="email-col">fred.weasley@hogwarts.magic.edu</td>
      <td class="phone-col">+(777) 0014</td>
    </tr>
    <tr>
      <td class="profile-col"><img class="profile-img" src="/img/rita.skeeter.jpg"></td>
      <td class="first-name-col">Rita</td>
      <td class="last-name-col">Skeeter</td>
      <td class="job-col">Professor</td>
      <td class="email-col">rita.skeeter@hogwarts.magic.edu</td>
      <td class="phone-col">+(777) 0015</td>
    </tr>  
  </table>
</div>

<% include footer %>