<% include header %>
<% include navbar %>

<div class="container">
  <h1 class="sales-leads pull-left">Wizards in Hogwarts Castle</h1>

  <div class="pagination pull-right">
    <div class="btn-group">
      <a class="btn btn-default current-page disabled"  href="/page-3" >Page 3</a>    
      <a class="btn btn-success prev-page"              href="/page-2" >Previous Page</a>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Profile Picture</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>        
      <th>Email address</th>
      <th>Phone number</th>
    </tr>
    <tr>
      <td><img class="profile-img" src="/img/cho.chang.jpg"></td>
      <td>Cho</td>
      <td>Chang</td>    
      <td>student</td>
      <td>cho.chang@hogwarts.magic.edu</td>
      <td>+(777) 0011</td>
    </tr>
    <tr>
      <td><img class="profile-img" src="/img/sirius.black.jpg"></td>
      <td>Sirius</td>
      <td>Black</td>
      <td>Renegade wizard</td>
      <td>sirius.black@hogwarts.magic.edu</td>
      <td>+(777) 0012</td>
    </tr>
    <tr>
      <td><img class="profile-img" src="/img/nymphadora.tonks.jpg"></td>
      <td>Nymphadora</td>
      <td>Tonks</td>
      <td>Professor</td>
      <td>nymphadora.tonks@hogwarts.magic.edu</td>
      <td>+(777) 0013</td>
    </tr>
    <tr>
      <td><img class="profile-img" src="/img/fred.weasley.jpg"></td>
      <td>Fred</td>
      <td>Weasley</td>
      <td>student</td>
      <td>fred.weasley@hogwarts.magic.edu</td>
      <td>+(777) 0014</td>
    </tr>
    <tr>
      <td><img class="profile-img" src="/img/rita.skeeter.jpg"></td>
      <td>Rita</td>
      <td>Skeeter</td>
      <td>Professor</td>
      <td>rita.skeeter@hogwarts.magic.edu</td>
      <td>+(777) 0015</td>
    </tr>  
  </table>
</div>

<% include footer %>