<h1 class="sales-leads pull-left">Wizards in Hogwarts Castle</h1>
<div class="pagination pull-right">
  <div class="btn-group">
    <a class="btn btn-default current-page disabled"  href="/" >Page 1</a>
    <a class="btn btn-success next-page"              href="/page-2" >Next Page</a>
  </div>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th>Profile Picture</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Job Title</th>        
    <th>Email address</th>
    <th>Phone number</th>
  </tr>
  <tr>
    <td class="profile-col"><img class="profile-img" src="/img/harry.potter.jpg"></td>
    <td class="first-name-col">Harry</td>
    <td class="last-name-col">Potter</td>    
    <td class="job-col">student</td>
    <td class="email-col">harry.potter@hogwarts.magic.edu</td>
    <td class="phone-col">+(777) 0001</td>
  </tr>
  <tr>
    <td class="profile-col"><img class="profile-img" src="/img/hermione.granger.jpg"></td>
    <td class="first-name-col">Hermione</td>
    <td class="last-name-col">Grander</td>
    <td class="job-col">student</td>
    <td class="email-col">hermione.grander@hogwarts.magic.edu</td>
    <td class="phone-col">+(777) 0002</td>
  </tr>
  <tr>
    <td class="profile-col"><img class="profile-img" src="/img/ronald.weasley.jpg"></td>
    <td class="first-name-col">Ronald</td>
    <td  class="last-name-col">Weasley</td>
    <td class="job-col">student</td>
    <td class="email-col">ronald.weasley@hogwarts.magic.edu</td>
    <td class="phone-col">+(777) 0003</td>
  </tr>
  <tr>
    <td class="profile-col"><img class="profile-img" src="/img/lord.voldemort.jpg"></td>
    <td class="first-name-col">Lord</td>
    <td class="last-name-col">Voldemort</td>
    <td class="job-col">Renegade Wizard</td>
    <td class="email-col">lord.voldemort@hogwarts.magic.edu</td>
    <td class="phone-col">+(666) 0004</td>
  </tr>
  <tr>
    <td class="profile-col"><img class="profile-img" src="/img/draco.mayfoy.jpg"></td>
    <td class="first-name-col">Draco</td>
    <td class="last-name-col">Mayfoy</td>
    <td class="job-col">student</td>
    <td class="email-col">draco.mayfoy@hogwarts.magic.edu</td>
    <td class="phone-col">+(666) 0005</td>
  </tr>  
</table>