<h1 class="sales-leads pull-left">Wizards in Hogwarts Castle</h1>
<div class="pagination pull-right">
  <div class="btn-group">
    <a class="btn btn-default current-page disabled"  href="/" >Page 1</a>
    <a class="btn btn-success next-page"              href="/page-2" >Next Page</a>
  </div>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th>Profile Picture</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Job Title</th>        
    <th>Email address</th>
    <th>Phone number</th>
  </tr>
  <tr>
    <td><img class="profile-img" src="/img/harry.potter.jpg"></td>
    <td>Harry</td>
    <td>Potter</td>    
    <td>student</td>
    <td>harry.potter@hogwarts.magic.edu</td>
    <td>+(777) 0001</td>
  </tr>
  <tr>
    <td><img class="profile-img" src="/img/hermione.granger.jpg"></td>
    <td>Hermione</td>
    <td>Grander</td>
    <td>student</td>
    <td>hermione.grander@hogwarts.magic.edu</td>
    <td>+(777) 0002</td>
  </tr>
  <tr>
    <td><img class="profile-img" src="/img/ronald.weasley.jpg"></td>
    <td>Ronald</td>
    <td>Weasley</td>
    <td>student</td>
    <td>ronald.weasley@hogwarts.magic.edu</td>
    <td>+(777) 0003</td>
  </tr>
  <tr>
    <td><img class="profile-img" src="/img/lord.voldemort.jpg"></td>
    <td>Lord</td>
    <td>Voldemort</td>
    <td>Renegade Wizard</td>
    <td>lord.voldemort@hogwarts.magic.edu</td>
    <td>+(666) 0004</td>
  </tr>
  <tr>
    <td><img class="profile-img" src="/img/draco.mayfoy.jpg"></td>
    <td>Draco</td>
    <td>Mayfoy</td>
    <td>student</td>
    <td>draco.mayfoy@hogwarts.magic.edu</td>
    <td>+(666) 0005</td>
  </tr>  
</table>