<% include header %>
<% include navbar %>

<div class="container">
  <h1 class="sales-leads pull-left">Wizards in Hogwarts Castle</h1>

  <div class="pagination pull-right">
    <div class="btn-group">
      <a class="btn btn-default current-page disabled"  href="/page-2" >Page 2</a>    
      <a class="btn btn-success prev-page"              href="/" >Previous Page</a>
      <a class="btn btn-success next-page"              href="/page-3" >Next Page</a>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Profile Picture</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>        
      <th>Email address</th>
      <th>Phone number</th>
    </tr>
    <tr>
      <td><img class="profile-img" src="/img/severus.snape.jpg"></td>
      <td>Severus</td>
      <td>Snape</td>    
      <td>Professor</td>
      <td>severus.snape@hogwarts.magic.edu</td>
      <td>+(777) 0006</td>
    </tr>
    <tr>
      <td><img class="profile-img" src="/img/albus.dumbledore.jpg"></td>
      <td>Albus</td>
      <td>Dumbledore</td>
      <td>Professor</td>
      <td>albus.dumbledore@hogwarts.magic.edu</td>
      <td>+(777) 0007</td>
    </tr>
    <tr>
      <td><img class="profile-img" src="/img/rubeus.hagrid.jpg"></td>
      <td>Rubeus</td>
      <td>Hagrid</td>
      <td>Professor</td>
      <td>rubeus.hagrid@hogwarts.magic.edu</td>
      <td>+(777) 0008</td>
    </tr>
    <tr>
      <td><img class="profile-img" src="/img/neville.longbottom.jpg"></td>
      <td>Neville</td>
      <td>Longbottom</td>
      <td>Student</td>
      <td>neville.longbottom@hogwarts.magic.edu</td>
      <td>+(777) 0009</td>
    </tr>
    <tr>
      <td><img class="profile-img" src="/img/minerva.mcgonagall.jpg"></td>
      <td>Minerva</td>
      <td>McGonagall</td>
      <td>Professor</td>
      <td>minerva.mcgonagall@hogwarts.magic.edu</td>
      <td>+(777) 0010</td>
    </tr>  
  </table>
</div>

<% include footer %>